* {
    font-size: 1vw;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background: no-repeat url("../images/Toastbrotgewitter-Banner.png");
    background-size: cover;
    background-position: left 0 bottom 80%;
    height: 30vw;
    color: #fff;
}

main {
    text-align: center;
}

a {
    text-decoration: none;
}

ol.toplevel {
    counter-reset: toplevel_point;
    list-style-type:none;
}
ol.toplevel li:before {
    content: counter(toplevel_point) ". ";
    counter-increment: toplevel_point;
}
ol.sublevel {
    counter-reset: sublevel_point;
    list-style-type:none;
}
ol.sublevel li:before {
    content: counter(toplevel_point)"."counter(sublevel_point,decimal) ". ";
    counter-increment: sublevel_point;
}

.no-text-deco {
    text-decoration: none;
}

.logo, .navbar {
    margin-top: 0.05rem;
}

.nobreak {
    display: inline;
}

.underline {
    text-decoration: underline solid;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.small-print {
    font-size: 0.6rem;
}

.text-left {
    text-align: left;
}

.block {
    display: block;
}

.navbar {
    margin-top: 0.2rem;
    float: right;
}

.navbar a {
    color: #fff;
    border: #900404 solid 0.1rem;
    border-radius: 5px;
    padding: 0.15rem;
    background-color: #900404;
}

.navbar a:visited {
    color: #e0e0e0;
    background-color: #bf2b32;
}

.navbar a:hover {
    color: #b0b0b0;
    background-color: #fff;
}

.title {
    font-size: 5rem;
    margin-top: 10rem;
    font-weight: 100;
    text-shadow: #919191 0 0 3px;
    text-align: center;
}

.separator {
    margin: 0 auto;
    width: 90%;
    height: 2px;
    background-color: #900404;
}

.separator-sm {
    width: 40%;
    height: 1px;
}

.links {
    color: #900404;
}

.links:visited {
    color: #d10a0a;
}

.links:hover {
    color: #919191;
}