* {
    font-size: 1vw;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background: no-repeat url("../images/Toastbrotgewitter-Banner.png");
    background-size: cover;
    background-position: left 0 bottom 80%;
    height: 30vw;
    color: #fff;
}

.nobreak {
    display: inline;
}

.navbar {
    float: right;
}

.title {
    font-size: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-weight: 100;
    text-shadow: #919191 0 0 3px;
}